<nav class="navbar bg-dark navbar-expand-lg" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">Django Editor</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <button type="button" id="clear-canvas" class="nav-link">
                        <i class="bi bi-trash "></i>
                    </button>

                </li>
                <li class="nav-item">
                    <button type="button" id="save-canvas" class="nav-link">
                        <i class="bi bi-floppy"></i>
                    </button>

                </li>

                <li class="nav-item">
                     <a class="nav-link" href="{% url 'panel' %}">
                         <i class="bi bi-easel2-fill"></i>
                     </a>
                </li>


            </ul>
        </div>
    </div>
</nav>