#canvas{
    border: 2px solid #A6ACAF;
    border-radius: 5px;
    width: 100%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

.container-canvas{
    width: 100%;
    max-width: 800px;
    height: auto;
}

#clear-canvas:hover{
    color: #FF0000;
}

#save-canvas:hover{
    color: #009b01;
}

.line:hover{
    color: #5897fb;
}