{% extends '../_base.html' %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
    {% include '_partials/_navbar.html' %}

    <div class="pt-5 d-flex justify-content-center align-items-center">
        <div class="container-canvas">
            <canvas id="canvas" width="800" height="400"></canvas>
        </div>
    </div>
    
    <footer class="bg-dark text-white fixed-bottom text-center p-2">
        &copy; {{ year_current }} Django Editor. All rights reserved.
    </footer>
{% endblock %}

{% block extra_body %}
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}